/* main text animation */
@keyframes textUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  80% {
    transform: translateY(4%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* clova icon animation */
@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

/* text slide animation */
@keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -2000px;
  }
}

/* main deco animation */
@keyframes deco {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* skill icons animation */
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* swing 적용 */
.main__text-deco > span:hover,
.web__etc-icon:hover.web__etc-icon > img,
.skills__list:hover .skills__icon {
  animation: swing 1s ease forwards;
}
