.section-end {
  padding: 16rem;
  background: #91c8e4;
  background: linear-gradient(
    0deg,
    rgba(145, 200, 228, 1) 0%,
    rgba(247, 226, 226, 1) 100%
  );
}
.end__inner {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  padding: 24rem 0 2rem 0;
  background: url(../../img/end-1.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 100rem 100rem 0 0;
  border: 0.1rem solid var(--secondary-pink);
}
.end__decs {
  position: sticky;
  top: 10rem;
  margin: 0 auto;
  font-family: "Meditative", sans-serif;
  font-size: 4.8rem;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  line-height: 1;
  color: var(--secondary-pink);
  opacity: 1;
}


/* media */
@media (max-width: 1440px) {
  .section-end {
    padding: 8rem;
  }
}
@media (max-width: 868px) {
  .end__inner {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 4;
    padding: 18rem 0 6rem 0;
    background: url(../../img/end-1.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 0.1rem solid var(--secondary-pink);
  }
}
@media (max-width: 768px) {
  .section-end {
    height: 160vh;
    padding: 8rem 1.6rem;
  }
  .end__inner {
    height: 100%;
    padding: 18rem 0 6rem 0;
  }
}
@media (max-width: 480px) {
  .section-end {
    height: 140vh;
  }
  .end__inner {
    height: 100%;
    padding: 12rem 0 6rem 0;
  }
  .end__decs {
    font-size: 3.4rem;
  }
}
@media (max-width: 320px) {
  .section-end {
    padding: 2rem;
  }
}
