@font-face {
  font-family: "Meditative";
  src: url("../../font/Meditative.ttf") format("truetype");
}

/* 제목 */
/* font-family: "Meditative"; */

/* 영문 세리프 */
/* font-family: "Lora", serif; */

/* 산세리프 */
/* font-family: "Noto Sans", sans-serif; */

/* big */
.big {
  line-height: 1.1;
  white-space: nowrap;
  font-weight: 400;
  font-size: 9vw;
  font-family: "Meditative", sans-serif;
  text-transform: capitalize;
  color: var(--primary-yellow);
  text-shadow: 0 0 1rem var(--secondary-indigo);
}
/* title*/
.title {
  font-size: 6.4rem;
  letter-spacing: -1px;
  font-weight: 800;
  font-family: "Lora", serif;
}
/* sub title */
.sub-title {
  font-size: 2.4rem;
  letter-spacing: -0.5px;
}
/* decs */
.decs {
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}
/* deco */
.deco {
  font-size: 1.2rem;
  font-weight: 500;
}
/* 글자 숨기기 */
.hide {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* media */
@media (max-width: 1024px) {
  .big {
    font-size: 10vw;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 4.8rem;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 3.4rem;
  }
  .decs {
    font-size: 1.4rem;
  }
}
