@mixin position-ab(){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin text-hide(){
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);  
    white-space: nowrap;  
    border: 0;
}

@mixin flex-center(){
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin transition($transition...) {
    transition: $transition;
    -webkit-transition: $transition;  
    -moz-transition: $transition;     
    -o-transition: $transition;       
}
